.todoList{
    width: 90%;
}

.todoList_item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    background-color: #fcfaff;
    border:1px #747474;
}       

.todoList_item_btn{
    display: flex;
    gap: 15px;
}

.done{
    border:2px solid #aa77ff;
    background-color: #ffffff5b;
    text-decoration: line-through;
}

@media screen and (max-width: 515px) {
    .todoList_item{
        padding: 10px;
    }       
    .todoList_item_btn{
        gap: 5px;
    }
}