@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #f0f0f0;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.todo-item.done {
  text-decoration: line-through;
  opacity: 0.6;
  border-color: red;
  border-width: 2px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.delete {
  color: red;
  margin-left: 1rem;
}

.btn{
  background-color:white;
  padding: 6px;
  color:violet;
  margin:5px;
  border-color: violet;
  border-radius: 5px;
  border-width: 2px;
}
.btn:hover{
  background-color: violet;
  color: white;
}
input{
  padding: 10px;
}
input[type=checkbox]:focus{
  border-color: red;
}
.add{
  display: none;
}
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
  align-items: center;
}