body{
  background-color: rgb(216, 216, 216);
}
.App{
  margin: auto;
  margin-top: 30px;
  width:90%;
  background-color: white;
  height: 100vh;
}
.container{
  margin:0 50px;
}
.todo{
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}
.newBtn{
  width:100px;
  padding:8px;
  color:#aa77ff;
  background-color: white;
  border:1px solid #aa77ff;
  border-radius: 12px;
}
.cancelBtn{
  width:80px;
  padding:8px;
  border:none;
  border-radius:12px;
  margin:0 10px;

}
.addBtn{
  width:80px;
  padding:8px;
  background-color: #aa77ff;
  color:white;
  border:none;
  border-radius:12px;
  margin:0 10px;
}
.inputContainer{
  border:2px solid rgb(211, 208, 208);
  border-radius: 12px;
  margin-bottom:20px;
  padding:15px;
  display: flex;
}
.inputField{
  border:none;
  width: 90%;
}
.inputField:focus{
  outline:none;
}
.listBox{
  list-style: none;
  padding:0;
}
.check{
  accent-color: rgb(23, 206, 29);
  border-radius: 2px;
}
.list{
  margin-left: 5px;
  width: 96%;
  font-weight: 500;
}

.delete{
  font-size: 20px;
}
.delete:hover{
cursor:pointer;
color:red;
}