.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.form_group{
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: inset 2px 2px 5px #929090cb,
                inset -2px -2px 5px rgba(0, 0, 0, 0.841);
}

.form_input{
    border: none;
    outline: none;
    width: 100%;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    color: #fff;
    background-color: transparent;
}

.form_btn{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

@media screen and (max-width: 515px) {
    .form_group{
        padding: 5px 10px;
    }
}

