@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.delete {
  color: red;
  margin-left: 1rem;
}