*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
input{
  width: 200px;
}
.login{
  width: 500px;
  margin-top: 150px;
}
td{
  padding: 15px;
  font-size: 26px;
}
.add{
  width: 80px;
  height: 40px;
}
